/* Universal Selector and Main Body */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Main Header Styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Hero Image Section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main Content Styles */
p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content > div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Side Content Styles */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}


/* Mobile styling less than 65em wide (breaking nav and main/side content layout) */
@media screen and (max-width: 65em) {

    /* Header Section */
    header {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        text-align: center;
        font-size: 20vw;
    }

    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header li {
        font-size: 5vw;
        line-height: 10vw;
    }

    /* Main Content Section */
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .content > div {
        height: auto;
        width: 100%;
    }

    /* Side Content Section */
    .benefits {
        margin: 0;
        clear: initial;
        float: initial;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .benefits > div {
        flex: 0 0 200px;
    }
}

/* Mobile styling less than 50em wide (breaking main img content) */
@media screen and (max-width: 50em) {
    .content img {
        display: block;
        float: none;
        margin: 0 auto 20px auto;
    }

    .content h2 {
        text-align: center;
    }

    .benefits {
        flex-direction: column;
        align-items: center;
    }

    .benefits h3 {
        text-align: left;
        display: inline-block;
    }

    .benefits > div {
        flex: 0 0 10em;
        overflow: hidden;
    }

    .benefits img {
        float: left;
        position: relative;
        top: -35px;
        margin: 0;
    }

    .benefits > div:last-child {
        margin-bottom: 0;
    }
}